@model RepositoryExample.Web.Models.AdministrationIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1>@Localization.Administration</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        @Html.Partial("_TableCharacters", Model.Characters, new ViewDataDictionary
        {
            { "Administration", true }
        })

    </div>
</div>