@model RepositoryExample.Web.Models.AccountRegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.EditorForModel()

            <div class="form-group">
                <input type="submit" class="btn btn-default" value="@Localization.Register" />
            </div>

        }

    </div>
</div>